body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: white;
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.space-between-h {
  width: 100%;
  margin: 32px auto;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.upperCase {
  text-transform: uppercase;
}

.floatRight {
  float: right;
}

.MuiDialogClose {
  position: absolute !important;
  right: 8px;
  top: 8px;
}

.MuiDialogContentText-root {
  margin-bottom: 0 !important;
}

.strong {
  font-weight: 600 !important;
}

/* styles especificos para o navtab utilizada como filtro na listagem de orders */

.filter-status-order .MuiTab-root:not(.Mui-selected) .MuiBadge-badge {
  background: #bdbdbd;
}

.filter-status-order.filter-status-order__second-selected .MuiTab-root:nth-child(2).Mui-selected .MuiBadge-badge {
  background: #4caf50;
}

.filter-status-order.filter-status-order__second-selected .MuiTabs-indicator {
  background-color: #4caf50;
}

.loading {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chip-reverse {
  flex-direction: row-reverse !important;
}

.chip-reverse > .MuiAvatar-root {
  margin-left: -4px !important;
  margin-right: 4px !important;
}

.MuiChip-avatar.MuiAvatar-root {
  user-select: all;
}

.MuiChip-avatar.MuiAvatar-root.auto-width {
  min-width: 8px;
  width: auto !important;
  border-radius: 16px;
  padding: 0 8px;
}

.ellipsis,
.ellipsis > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

hr {
  background-color: rgba(224, 224, 224, 1);
  height: 1px;
  border: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.flex-horizontal .MuiFormControl-marginNormal {
  margin: 16px 0;
}

.MuiIconButton-sizeExtraSmall {
  padding: 3px !important;
}

.MuiIconButton-sizeExtraSmall .MuiSvgIcon-root {
  width: 0.85em;
  height: 0.85em;
}

.MuiAvatar-root.small {
  width: 32px;
  height: 32px;
}

.MuiTooltip-tooltip {
  font-weight: 400 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f36c2b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 75, 30);
}

.MuiDialogTitle-root {
  min-height: 30px;
}

.smallAvatar {
  width: 32px !important;
  height: 32px !important;
}